
.appSlider {
    display: inline-block;

    text-shadow: 0px 0px 6px black;
    text-align: center;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    margin: 3px;
    padding: 3px;
}

/*
    ATON UI customization
*/
/*
.atonPopup {
    box-shadow: 0px 0px 20px rgba(12, 40, 64, 1);
    background-color: rgba(12, 40, 64, 0.8);
}
*/

.atonPopupLabel {
    background-color: rgba(211, 223, 226, 0.7);
    text-shadow: black;
    color: black;
    font-weight: bold;
}

/*
.atonBTN {
    background-color: rgba(12, 40, 64, 0.5);
}


.atonSidePanelContainer {
    box-shadow: 0px 0px 20px rgba(211, 223, 226, 1);

    background-color: rgba(211, 223, 226, 0.8);
    text-align: left;

    color: black;

    line-height : 1.5;
}

.descriptionText {
    text-shadow: none !important;
}
*/

.atonPopupTitle {
    background-color: rgba(211, 223, 226, 0.8);
    color: black;
}